<body>
    <div class="wrapper">
        <!-- Header Start -->
        {{>header}}
    </div>


    <!-- Profile View section  -->
    <div class="service">
        <div class="container">
            <!-- 15 profile in one page -->
            <!-- 15 profile in one page -->
            <!-- 15 profile in one page -->
            <div class="row">
                {{#each data}}
                <div class="col-lg-3 col-md-6">
                    <div class="service-item ">
                        <!-- open this profile link -->
                       
                            <div class="pr-img">
                                <img src="/images/profile_images/{{this.profile_pic}}">
                                <h6 class="" id="{{this.user_id}}"><span class=""><i  id="" class="fa fa-star fa-2x" onclick="shortList('{{this.user_id}}')"></i> </span></h6>
                            </div>
                            
                            <a href="/user/profile/{{this.user_id}}"></a> <div class="pro-text-up mt-3 pb-2">
                                <h3>{{this.username}}</h3>
                                <p>{{this.age}} Yrs, {{this.height}}</p>
                                <p> {{this.district}}, {{this.state}},{{this.country}}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <script>
                   async function shortList(id){
                       
                        let star= document.getElementById(id);
                        if(star.className=="text-success"){
                           let obj={
                                id:id
                            }
                            //axios call
                            let res= await axios.post('http://localhost:8000/delete_shortlist',{obj})
                            if(res.data.success){
                                 star.className=""
                                    Swal.fire('Success...', 'Profile removed from short list', 'success');

                            }
                            else{
                                Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: res.data.message,
                                            footer: '<a href>Why do I have this issue?</a>'
                                        })
                            }
                            

                        }
                        else{
                           
                            //axios call
                            let obj={
                                id:id
                            }
                            let res= await axios.post('http://localhost:8000/shortlist',{obj})
                            if(res.data.success){
                                 star.className="text-success"
                                     Swal.fire('Success...', 'Profile added to short list', 'success');
                            }
                            else{
                                Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: res.data.message,
                                            footer: '<a href>Why do I have this issue?</a>'
                                        })
                            }
                             

                        }
                    }
                </script>


                {{/each}}
            </div>

            <!-- Previous-Next -->
            <div class="container">
                <div class="  d-flex justify-content-between  ">
                    <div class="">
                        <a href="" class="  btn  text-small  next-btn ">
                            <i class="v-align-m fas fa-caret-square-left fa-2x .btn"></i>
                            <span class="">Previous</span>
                        </a>
                    </div>
                    <div>
                        <a href="" class="  btn  text-small  next-btn ">
                            <span class="">Next</span>
                            <i class="v-align-m fas fa-caret-square-right fa-2x .btn"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- after footer start -->
        {{>footer}}
</body>