<script src="/javascripts/country-select.js"></script>

<body>
    <div class="wrapper">
        <!-- Header Start -->
        <div class="header-top   ">
            <div class=" row  align-items-center hide-max ">
                <div class="col-lg-4 col-md-4 col-sm-4   hide-max  ">
                    <div class="   brand ">
                        <a href="index.html">
                            <img src="/assets/images/logo.PNG" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class=" col  menu-links   hide-max    ">
                    <div class="    btn-new-for-all   ">
                        <a href="/index.html" class="">Home</a>
                        <a href="/about.html" class="">About</a>
                        <a href="/search.html" class="">Search</a>
                        <a href="/contact.html" class="">Contact us</a>
                    </div>

                </div>
                <div class=" col-2  ">
                    <div class=" btn-new-for-all  ">
                        <a href="/user/login" class="  btn-login ">Login</a>
                    </div>
                </div>

            </div>
            <!--4 mobile -->
            <div class="  m-view-sp">
                <div class=" mob-view-logo  hide-min">
                    <a href="/">
                        <img src="/assets/images/logo.PNG" alt="Logo">
                    </a>
                </div>
                <div class=" btn-new-for-all  hide-min  ">
                    <a href="/user/login" class="  btn-login ">Login</a>
                </div>
            </div>

        </div>


        <!-- Header End -->

        <!-- fill profile details section start -->

        <div class="call-to-action">
            <div class="container">
                <div class="container">
                    <div class="fp-margin-botm">
                        <h2>Complete your Profile</h2>
                        <p class="text-small text-white">
                            Tell us about your basic details; to finding your love
                        </p>
                    </div>

                    <form action="/complete_profile2" method="POST" class="m-0">
                         <div class="form-row text-white  ">
                            <div class="col-md-6">
                                <label for="">Country</label>
                                <div class="control-group">
                                    <select id="countySel" size="1" class="custom-select" required>
                                        <option value="" selected="selected">Select Country</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">State</label>
                                <div class="control-group">
                                    <select class="custom-select" id="stateSel" size="1"> 
                                        <option value="" selected="selected">Select State</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Districts</label>
                                <div class="control-group">
                                    <select class="custom-select" id="districtSel" size="1">
                                        <option value="" selected="selected">Select </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Place</label>
                                <div class="control-group">
                                    <select class="custom-select" id="placeSel">
                                        <option value="" selected="selected">Select Place</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Financial Status</label>
                                <div class="control-group">
                                    <select class="custom-select" name="financial_status" required>
                                        <option value="">select</option>
                                        <option value="Rich Family">Rich Family</option>
                                        <option value="Upper Middle Class Family">Upper Middle Class Family</option>
                                        <option value="Middle Class Family">Middle Class Family</option>
                                        <option value="Lower Middle Class Family">Lower Middle Class Family</option>
                                        <option value="Poor Family">Poor Family</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Home Type</label>
                                <div class="control-group">
                                    <select class="custom-select" required name="home_type">
                                        <option value="">select</option>
                                        <option value="Own House">Own House</option>
                                        <option value="Rented House">Rented House</option>
                                        <option value="Own Appartement/flat">Own Appartement/flat</option>
                                        <option value="Rented Appartement/flat">Rented Appartement/flat</option>
                                        <option value="Colony">Colony</option>
                                        <option value="Village">Village</option>
                                        <option value="Town">Town</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Father Details</label>
                                <div class="control-group">
                                    <select class="custom-select" name="father_details">
                                        <option value="">select</option>
                                        <option value="Alive">Alive</option>
                                        <option value="Not living together">Not living together</option>
                                        <option value="Died">Died</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Mother Details</label>
                                <div class="control-group">
                                    <select class="custom-select" name="mother_details">
                                        <option value="">select</option>
                                        <option value="Alive">Alive</option>
                                        <option value="Not living together">Not living together</option>
                                        <option value="Died">Died</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="row    ">
                                    <div class="col ">
                                        <label for="">Number Of Sisters</label>
                                        <div class="control-group">
                                            <select class="custom-select" name="no_sisters">
                                                <option value="">select</option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">Above 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class=" col">
                                        <label for="">Number of Brother</label>
                                        <div class="control-group">
                                            <select class="custom-select" name="no_brothers">
                                                <option value="">select</option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">Above 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="">Full Adress</label>
                                <input type="text" value="" name="address" class="form-control" placeholder=""
                                    required />
                            </div>
                            <div class="col-md-6">
                                <label for="">Second Contact Number</label>
                                <div class="row  z-control-group ">
                                    <div class="col-4">
                                        <label for="" class="mb-0 ">Code</label>
                                        <select class=" form-control" name="p_code" id="" required>
                                            <option value="">select</option>
                                            {{#each newArr}}
                                            <option name="code" value="{{this.dial_code}}">{{this.dial_code}}-
                                                {{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class=" col">
                                        <label for="" class="mb-0">Phone Number</label>
                                        <input type="text" name="phone_second" id="" class=" form-control " required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="">Whatsapp Number</label>
                                <div class="row  z-control-group ">
                                    <div class="col-4">
                                        <label for="" class="mb-0">Code</label>
                                        <select class=" form-control" name="w_code" id="" required>
                                            <option value="">Code</option>
                                            <option value="">select</option>
                                            {{#each newArr}}
                                            <option name="code" value="{{this.dial_code}}">{{this.dial_code}}-
                                                {{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class=" col">
                                        <label for="" class="mb-0">Phone Number</label>
                                        <input type="text" name="whatsapp_number" id="" class=" form-control " required>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <label for="">Tell About your Self</label>
                                <textarea name="about" id="" class="form-control" maxlength="170 " cols="58"
                                    rows="2"></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <div class="  ">
                                <button type="submit" class="btn gnrl-btn">
                                    Save & Continue
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- fill profile details section end -->

        <!-- Call to Action Start -->
        <div class="call-to-action row">
            <div class="container container-fluid">
                <div class=" align-items-center  ">
                    <h2>Available Free Expert Consulation</h2>
                    <p>
                        Request a call back from our Personalized Service Team
                    </p>
                    <form action="">

                        <div class="form-row  mt-3">

                            <div class="col-md-6 mt-3">
                                <label for="" style="color:white">Name</label>
                                <input type="text" id="" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="col-md-6 mt-3">
                                <label for="" style="color:white">Contact Number</label>
                                <input type="text" id="" class="form-control" placeholder="Mobile Number" required>
                            </div>
                            <div class="col-md-3 mt-3">
                                <label for="" style="color:white">Time for contact</label>
                                <input type="text" id="" class="form-control" placeholder="Time">
                            </div>
                            <div class="col-md-6 mt-3">
                                <label for="" style="color:white">Reson</label>
                                <input type="text" id="" class="form-control" placeholder="How To Register" required>
                            </div>
                            <div class="col-md-3   ">
                                <button type="submit" id="" class="btn req-call-btn  btn-block">Request a call</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->




        {{>footer}}
        <script src="/javascripts/f.js"></script>
        <script src="../../public/javascripts/country-select.js"></script>


</body>