  <div class="wrapper">
        <!-- Header Start -->
        {{>header}}
    </div>
 
 
{{#if users}}
<h2 style="text-align: center;">Shortlisted Profiles</h2>
{{else}}
<h2 style="text-align: center;">No Shortlisted Profiles</h2>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"><a href="/" class="btn btn-info mr-3">Go to profiles</a></div>
    <div class="col-md-3"></div>

</div>

{{/if}}

        
        <!-- Profile View section  -->
        <div class="service">
            <div class="container">
                <!-- 15 profile in one page -->
                <!-- 15 profile in one page -->
                <!-- 15 profile in one page -->
                <div class="row">
                    {{#each users}}
                 
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item ">
                            <!-- open this profile link -->
                            <a href="/user/profile/{{this.partner_id}}">
                                <div class="pr-img">
                                    <img src="/images/profile_images/{{this.partner_img}}" >
                                </div>
                                {{!-- <h6 class="premium"><span class="premium"><i class="fa fa-star fa-2x"></i> </span></h6> --}}
                                <div class="pro-text-up mt-3 pb-2">
                                    <h3>{{this.partner_name}}</h3>
                                    <p>{{this.partner_age}} Yrs, {{this.partner_height}}</p>
                                    <p>{{this.partner_district}}, {{this.partner_state}}, {{this.partner_country}}</p>
                                 </a>
                                  <button onclick="shortList('{{this._id}}')" class="btn btn-danger">Remove from short list</button>
                                
                                </div>
                           
                        </div>
                    </div>
                    
              {{/each}}
                    </div>
                    
                  <script>
                       async function shortList(id){
                       
                      
                           let obj={
                                id:id
                            }
                            //axios call
                            let res= await axios.post('https://muslim-matrimony-app.herokuapp.com/delete_shortlist',{obj})
                            if(res.data.success){
                               
                                    Swal.fire('Success...', 'Profile removed from short list', 'success');
                                    location.href="/user/shortlist";
                            }
                            else{
                                Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: res.data.message,
                                            footer: '<a href>Why do I have this issue?</a>'
                                        })
                            }
                            

                        
                       
                    }
            
                  </script>  
                   



                

        <!-- Previous-Next -->
        <div class="container">
            <div class="  d-flex justify-content-between  ">
                <div class="">
                    <a href="" class="  btn  text-small  next-btn ">
                        <i class="v-align-m fas fa-caret-square-left fa-2x .btn"></i>
                        <span class="">Previous</span>
                    </a>
                </div>
                <div>
                    <a href="" class="  btn  text-small  next-btn ">
                        <span class="">Next</span>
                        <i class="v-align-m fas fa-caret-square-right fa-2x .btn"></i>
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div class="container">
            <div class="row  ">
                <div class="alert alert-success col-md-6 mview-ph" id="notes">
                    <p style="text-align: center;" class="mview-ph">Short List ചെയ്ത പ്രൊഫൈലിന്റെ Contact Number
                        ലഭിക്കുവാൻ നിങ്ങളുടെ മാര്യേജ്
                        അസിസ്റ്റന്റിനെ കോൺടാക്ട് ചെയ്യുക. '<a href="" data-target="#pwdModal" data-toggle="modal">click
                            here</a>'
                    </p>
                    <!-- contact  -->
                    <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header  ">

                                    <h1 class="text-center" style="color: black;">Do you need Contact Number
                                    </h1>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body  ">
                                    <div class="col">
                                        <div class="panel panel-default   ">
                                            <div class="panel-body  ">
                                                <div class="text-center ">

                                                    <p style="color: black;">Please Contact your Personal
                                                        assiatance on whatsapp +91
                                                        9746900055</p>
                                                    <div class="panel-body">
                                                        <fieldset class="fieldset-fgt-pass">
                                                            <div class="form-group  pop-fgt-pass ">

                                                            </div>
                                                            <a href="https://wa.me/919746900055?text=I%20am%20interested%20in%20this%20profile%20'{{this.profile_id}}"
                                                                target="_black" class="btn btn-lg btn-primary btn-block"
                                                                value="" type="submit"><i
                                                                    class="v-align-m fa fa-whatsapp fa-2x .btn"></i>&nbsp;
                                                                Use WhatsApp
                                                            </a>

                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-md-12">
                                        <a class="" style="color: black;" data-dismiss="modal"
                                            aria-hidden="true">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- contact  -->
                </div>
            </div>
        </div>

     {{>footer}}